@charset "UTF-8";
.re-layout{
	width: 520px;
	margin: auto;
	background-color: #ccc;
}


.re-layout .reviewImg{
	float: left;
	width: 120px;
	
}
.re-layout .reviewImg img {
	width:100%;
}
.re-layout .content{
	float: left;
	width: 400px;
	padding:20px;
	
	
}

.re-layout .content p{
position:relative;
line-height: 24px;
padding-left:65px;
margin-top:10px;
}
.re-layout .content p:first-child {margin-top:0;}
.re-layout .content p span {position:absolute; top:0; left:0; display:block; width:50px; letter-spacing:5px; font-weight:bold;}

