@charset "UTF-8";
.fa {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img.ribbon {

	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	border: 0;
	cursor: pointer;
}
.container {
	margin-top: 60px;
	text-align: center;
	max-width: 450px;
}
input {
	width: 30px;
	margin: 10px 0;
}



.reviewBox{}
.reviewBox .reviewTit {}
.reviewBox .reviewTit ul {width:100%; overflow:hidden;}
.reviewBox .reviewTit ul li {float:left; width:50%; height:100px; }
.reviewBox .reviewTit ul li:first-child {}
.reviewBox .reviewCont ul li {width: 100%; height: 100px; }
.reviewBox .reviewCont {min-height:10px;}
.reviewBox .reviewBtm {}
.reviewBox .reviewBtm ul {overflow:hidden;}
.reviewBox .reviewBtm ul li {float:left; width:33.33333%; height:100px;}